
.container{ max-width:80%;}
// .page-body{ color: darkgray; }
.article{ max-width:90%; margin: 0 auto;}
.article-container{ max-width:100%; }
.article-container.pt-3{ max-width:100%; }
.navbar{ font-size: 1.0em; }
body{ color: rgb(71, 70, 70); }
h1{ color: rgb(71, 70, 70); font-size: 1.5rem; font-weight: bold;}
h2{ color: rgb(71, 70, 70); font-size: 1.2rem;}
h3{ color: rgb(71, 70, 70); }
h4{ color: rgb(71, 70, 70); }
h5{ color: rgb(71, 70, 70); }
h6{ color: rgb(71, 70, 70); }
.section-subheading.article-title.mb-1.mt-3{ color: rgb(71, 70, 70); }
.table td {padding: 0.2rem;}
.table th {border-top: 0px solid #dee2e6;}
